@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.testimonials {
  @include section-spacing;
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $spacing-xl;
  }
  
  .testimonial {
    .quote {
      font-style: italic;
      color: $color-text-secondary;
      line-height: 1.8;
      margin-bottom: $spacing-lg;
      position: relative;
      padding-left: $spacing-lg;
      
      &::before {
        content: '"';
        position: absolute;
        left: 0;
        top: -10px;
        font-size: 3rem;
        color: $color-primary;
        opacity: 0.3;
      }
    }
    
    .author {
      display: flex;
      align-items: center;
      gap: $spacing-md;
    }
    
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: $border-radius-full;
      background: $gradient-primary;
      @include flex-center;
      font-weight: 700;
      font-size: $font-size-lg;
      flex-shrink: 0;
    }
    
    .info {
      h4 {
        font-size: $font-size-base;
        margin: 0 0 0.25rem 0;
      }
      
      p {
        margin: 0;
        font-size: $font-size-sm;
        color: $color-text-muted;
      }
    }
  }
}
